/* CSS declarations go here */
html {
  height: 100%;
  overflow: hidden;
}

body {
  
  font-family: sans-serif;
  background: white;
  background-attachment: fixed;

  overflow: hidden;
  height: inherit;
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}
 
.container {
  margin: 0 auto;
  max-height: 100vh;
  display: flex;
  flex-flow: column;
  height: 100%;
  background: #eee;
}
 
header {
  padding: 20px 15px 15px 15px;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 2px 10px #999;
  z-index: 10;
}

.app-title{
  width: 100%;
}
 
#login-buttons {
  float: right;
  display: block;
}

#login-buttons .login-button, .accounts-dialog .login-button {
  color: #fff;
  background: #3ca570;
  border: 1px solid #3ca570;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
  background: #2c7a53;
}
 
h1 {
  font-size: 1.5em;
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

h2 {
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 0px;
  display: inline-block;
  margin-right: 1em;
}

.new-plant-container{
  height: 300px;
  margin: 10px 0;
  padding: 20px 10px 0;
  border-style: solid;
  border-top-color: #3ca570;
  border-width: 1px 0px 0px 0px;
  overflow: hidden;
  animation-name: expand;
  animation-duration: 0.2s;
}

.hide{
  height: 25px;
  animation-name: collapse;
  animation-duration: 0.2s;
}

.form-Submit{
  float: right;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  color: #fff;
  background-color: #3ca570;
}

.datePicker{
  margin-top: 20px;
  padding-top: 10px;
  border-style: solid;
  border-top-color: #999;
  border-width: 1px 0px 0px 0px;
}

.datePicker input{
  color: #2c7a53;
}
 
form {
  margin-bottom: 0px;
  position: relative;
}
 
.new-plant .text-input {
  box-sizing: border-box;
  padding: 10px 0 0 0;
  background: transparent;
  border: none;
  width: 100%;
  font-size: 1em;
}

.new-plant input:focus{
  outline: 0;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.slider{
  margin: 20px 0;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 3px; /* Specified height */
  border-radius: 1.5px;
  background: #ccc; /* Grey background */
  /* outline: none; Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 7.5px;
  background: #3ca570; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
 
.plant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
 
.plantItem {
  width: 300px;
  margin: 10px 10px 0px 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 10px #aaa;
  overflow: hidden;
}

.plant-hero{
  width: 100%;
  height: 200px;
  background-image: url("https://picsum.photos/500/300/?random");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.plant-info{
  padding: 10px;
  height: 15px;
  overflow: hidden;
  animation-name: expandIn;
  animation-duration: 0.2s;
}

.expanded{
  height: 150px;
  animation-name: expandOut;
  animation-duration: 0.2s;
}

.plant-info .text{
  float: left;
  width: 100%;
  padding-bottom: 10px;
}

.plant-title{
  width: 100%;
  height: 15px;
  padding-bottom: 10px;
  float: left;
}

.plant-name{
  float: left;
}

.plant-creator{
  color: #999;
}

.water-status{
  float: right;
  margin: 5px;
  height: 5px;
  border-radius: 2.5px;
  width: 20%;
  background-color: #3ca570;
}

#login-buttons .login-close-text{
  float: right;
}

#login-dropdown-list {
  position: fixed;
  top: 50px;
  left: calc(100% - 300px);
}

#login-buttons {
  margin-right: 12px;
  margin-top: 12px;
}

@keyframes expandOut {
  from {height: 15px;}
  to {height: 150px;}
}

@keyframes expandIn {
  from {height: 150px;}
  to {height: 15px;}
}

@keyframes collapse {
  from {height: 300px;}
  to {height: 25px;}
}

@keyframes expand {
  from {height: 25px;}
  to {height: 300px;}
}

 
@media only screen and (max-width: 768px) {
  header {
    padding-top: 0;
    padding-bottom: 5px;
  }

  #login-buttons {
    margin-top: 20px;
  }

  #login-dropdown-list {
    position: fixed;
    width: 75vw;
    top: 75px;
    left: 12.5vw;
  }

  .plantItem {
    width: 100%;
  }
  
  .plant-hero{
    width: 100%;
  }
  
  .plant-info{
    padding: 10px;
  }
}
